#CartContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 3rem;
}

.cart-product {
  grid-column: 1 / 4;
  display: flex;
  position: relative;
  background-color: var(--secondary-bg-color);
  align-items: center;
  margin: 0.5rem 0;
}

.cart-product p {
  margin: 0;
}

.cart-product img {
  width: 110px;
  height: 150px;
}

.product-cart-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.product-cart-title {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}
.product-cart-quantity {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
}

.product-cart-quantity p {
  margin: 0;
  padding-right: 1rem;
}

.product-cart-quantity i {
  color: gray;
}

.product-cart-body-price {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  font-size: 1.7rem;
}

.cart-total {
  grid-column: 3 / 4;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 75px;
  margin: 0.5rem 0;
  padding-right: 2rem;
  background-color: var(--secondary-bg-color);
  font-size: 2.5rem;
  border: 1px solid rgb(201, 201, 201, 0.4);
}

.cart-total p {
  padding-left: 1rem;
  margin: 0;
}

.cart-items-confirm {
  display: flex;
  justify-content: flex-end;
}
.cart-items-confirm a {
  color: black;
  text-decoration: none;
}

.cart-items-confirm button {
  all: unset;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(20, 170, 150, 0.3);
  cursor: pointer;
  border: 1px solid rgb(201, 201, 201, 0.4);
}

.item-detail-info {
  position: relative;
  max-width: 70vw;
}

.item-detail-info-buy {
  position: absolute;
  bottom: 0;
}

.item-detail-info-price {
  font-size: 1.5rem;
}

.cart-empty {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.cart-empty-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 80vw;
  height: 80vh;
  background-color: var(--secondary-bg-color);
}

.cart-empty-box p {
  font-size: 2rem;
}

.cart-empty-box a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}
